[submodule "playscript-mono"]
	path = playscript-mono
	url = https://github.com/playscript/playscript-mono.git
[submodule "playscript-monodevelop"]
	path = playscript-monodevelop
	url = https://github.com/playscript/playscript-monodevelop.git
[submodule "playscript-monodevelop-binding"]
	path = playscript-monodevelop-binding
	url = git@github.com:playscript/playscript-monodevelop-binding.git
[submodule "playscript-monodevelop-binding-ios"]
	path = playscript-monodevelop-binding-ios
	url = git@github.com:playscript/playscript-monodevelop-binding-ios.git
[submodule "playscript-monodevelop-binding-android"]
	path = playscript-monodevelop-binding-android
	url = git@github.com:playscript/playscript-monodevelop-binding-android.git
[submodule "playscript-starling"]
	path = playscript-starling
	url = git@github.com:playscript/playscript-starling.git
[submodule "playscript-away3d-core"]
	path = playscript-away3d-core
	url = git@github.com:playscript/playscript-away3d-core.git
[submodule "playscript-away3d-examples"]
	path = playscript-away3d-examples
	url = git@github.com:playscript/playscript-away3d-examples.git
[submodule "playscript"]
	path = playscript
	url = git@github.com:playscript/playscript.git
[submodule "playscript-base"]
	path = playscript-base
	url = git@github.com:playscript/playscript-base.git
